* {
  box-sizing: border-box;
}

.container {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  border-bottom: solid #ccc;
}

.title {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.openButton {
  background-color: var(--primaryBlue);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: var(--white);
  padding: 2rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.modalLogo {
  max-width: 100px;
}

.modal input {
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

.modalButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.modalCancel {
  background-color: var(--gray);
  border: none;
  border-radius: 3px;
  color: var(--white);
  font-weight: bold;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin: 0.5rem;
  width: 100%;
}

.modalSave {
  background-color: var(--primaryBlue);
  border: none;
  border-radius: 3px;
  color: var(--white);
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem;
  width: 100%;
}
