.likert {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.likertQuestion {
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: bold;
}

.likertScale {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.likertResponse {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: var(--white);
  font-weight: bold;
  padding: 0.5rem;
}

.likertResponse input {
  display: none;
}

.likertResponseText {
  text-align: center;
}

.likertEmoji {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.selected {
  border: 3px solid var(--white);
}

.submitButton {
  background-color: var(--primaryBlue);
  color: var(--white);
  border: none;
  border-radius: 3px;
  padding: 0.5rem 3rem;
  cursor: pointer;
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
}
