body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primaryBlue: #3182ce;
  --secondaryBlue: #edf2f7;
  --goodGreen: #38a169;
  --generousGreen: #d0ee17;
  --okYellow: #ffd300;
  --badOrange: #ff7a00;
  --ridRed: #e53e3e;
  --gray: #d9d9d9;
  --white: #ffffff;
  --black: #000000;
}
