.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.circleContainer {
  align-items: center;
}

.circleButton {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  border: 2px solid #1f7be4;
}

.circleButton.selected {
  background-color: #1f7be4;
}

.percentageText {
  font-size: 14px;
  color: black;
}
